node_modules/
dist/
.env
*.local

server/engines/
engine-server/engines/windows/eval/
engine-server/engines/mac/eval/
engine-server/outputs/
engine-server/src/features/book-problem-generation/state/
engine-server/data
engine-server/tmp